@import 'src/_colors.scss';
@import 'src/_vars.scss';
@import 'src/_breakpoints.scss';
@import 'src/_mixins.scss';
@import 'src/_fonts.scss';

.projectLinkNumberText {
  fill: '#122744';
  font-family: Comfortaa;
  font-weight: 700;
}
/* ---------------------------  Mobile --------------------------- */

@media (max-width: $mobile-max-width) {
  .projectLinkNumberText {
    font-size: 18;
  }
}
/* ---------------------------  Tablet --------------------------- */
@media (min-width: $tablet-min-width) {
}

/* ---------------------------  Desktop --------------------------- */
@media (min-width: $desktop-min-width) {
}
