@import 'src/_colors.scss';
@import 'src/_vars.scss';
@import 'src/_buttons.scss';
@import 'src/_breakpoints.scss';

@mixin h2Title {
  color: $main-darkblue;
  text-align: center;
  margin: 0;
  padding: 1em 0.5em 0 0.5em;
}

.HomeComponentContainer {
  &-IntroductionAndPitchContainer {
    background-color: $main-darkblue;
    background-image: url('../../assets/img/home_background_mobile.webp');
    background-repeat: no-repeat;
    background-position: left 0 bottom 0;
    background-size: contain;

    &-TextAndButtonContainer {
      &-MainTitle {
        color: $main-white;
        white-space: pre-line;
      }
      &-Pitch {
        color: $main-white;
      }
      &-DownloadButton {
        @include pale-green-button;
      }
    }
  }
  &-ServicesContainer {
    background-color: $main-lightgrey;
    display: flex;
    flex-direction: column;

    &-Title {
      @include h2Title;
    }
    &-Services {
      display: flex;
    }
  }
}

/* ---------------------------  Mobile --------------------------- */

@media (max-width: $mobile-max-width) {
  .HomeComponentContainer {
    &-IntroductionAndPitchContainer {
      height: 100vh;
      background-image: url('../../assets/img/home_background_mobile.webp');
      background-position: left 0 bottom -50px;
      padding-top: 50px;

      &-TextAndButtonContainer {
        margin-top: 5vh;
        margin-left: 40px;
        margin-right: 40px;

        &-MainTitle {
          font: $mobile-h1;
        }
        &-Pitch {
          font: $mobile-pitch-font;
        }
      }
    }

    &-ServicesContainer {
      &-Title {
        font: $mobile-h2;
      }
      &-Services {
        flex-direction: column;
      }
    }
  }
}

/* ---------------------------  Longer Mobile --------------------------- */
@media (max-width: $mobile-max-width) and (min-height: $shortmobile-max-height) {
  .HomeComponentContainer {
    &-IntroductionAndPitchContainer {
      padding-top: 13vh;

      &-TextAndButtonContainer {
        &-DownloadButton {
          margin-top: 1em;
        }
      }
    }
  }
}

/* ---------------------------  Tablet --------------------------- */
@media (min-width: $tablet-min-width) {
  .HomeComponentContainer {
    margin-left: 50px;
    &-IntroductionAndPitchContainer {
      z-index: -1;
      position: relative;
      height: 100vh;
      background-image: url('../../assets/img/home_background_tablet.webp');
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      &-TextAndButtonContainer {
        position: absolute;
        bottom: 20%;
        right: 20px;
        width: 46%;
        &-MainTitle {
          font: $tablet-h1;
          margin-bottom: 25px;
        }
        &-Pitch {
          font: $tablet-pitch-font;
          margin-bottom: 25px;
        }
      }
    }
    &-ServicesContainer {
      &-Title {
        font: $tablet-h2;
      }
    }
  }
}

/* ---------------------------  Tablet --------------------------- */
@media (min-width: $tablet-min-width) and (orientation: portrait) {
  .HomeComponentContainer {
    &-IntroductionAndPitchContainer {
      // margin-left: 50px;
      height: 50vh;
    }
  }
}

/* ---------------------------  Desktop --------------------------- */
@media (min-width: $desktop-min-width) {
  .HomeComponentContainer {
    &-IntroductionAndPitchContainer {
      background-image: url('../../assets/img/home_background_desktop.webp');
      padding: 0;

      &-TextAndButtonContainer {
        margin-right: 50px;
        &-MainTitle {
          font: $desktop-h1;
        }
        &-Pitch {
          font: $desktop-pitch-font;
        }
      }
    }

    &-ServicesContainer {
      &-Title {
        font: $desktop-h2;
      }
    }
  }
}
