@import 'src/_colors.scss';
@import 'src/_vars.scss';
@import 'src/_buttons.scss';
@import 'src/_breakpoints.scss';
@import 'src/_mixins.scss';

.HomeComponentContainer {
  &-ServicesContainer {
    background-color: $main-lightgrey;
    display: flex;
    flex-direction: column;

    &-Title {
      @include h2Title;
      margin-bottom: 1em;
    }
    &-Services {
      display: flex;
    }
  }
}

/* ---------------------------  Mobile --------------------------- */

@media (max-width: $mobile-max-width) {
  .HomeComponentContainer {
    &-ServicesContainer {
      &-Title {
        font: $mobile-h2;
      }
      &-Services {
        flex-direction: column;
      }
    }
  }
}

/* ---------------------------  Longer Mobile --------------------------- */
@media (max-width: $mobile-max-width) and (min-height: $shortmobile-max-height) {
  .HomeComponentContainer {
  }
}

/* ---------------------------  Tablet --------------------------- */
@media (min-width: $tablet-min-width) {
  .HomeComponentContainer {
    margin-left: 50px;

    &-ServicesContainer {
      &-Title {
        font: $tablet-h2;
      }
      &-Services {
        align-items: flex-start;
      }
    }
  }
}

/* ---------------------------  Tablet --------------------------- */
@media (min-width: $tablet-min-width) and (orientation: portrait) {
  .HomeComponentContainer {
  }
}

/* ---------------------------  Desktop --------------------------- */
@media (min-width: $desktop-min-width) {
  .HomeComponentContainer {
    &-ServicesContainer {
      &-Title {
        font: $desktop-h2;
      }
    }
  }
}
