@import 'src/_colors.scss';
@import 'src/_vars.scss';

.LangugageSelectContainer {
  z-index: 2;
  position: fixed;
  top: -162px;
  right: -110px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: $main-lilly;

  &-Languages {
    position: relative;
    top: 65%;
    left: 0;
    width: 60%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    &-Language {
      font: $language-select-font;
      margin-left: 0.5em;
      color: $main-white;
    }
  }
}
.activeLangugage {
  color: $main-darkblue;
}
