@import 'src/_colors.scss';
@import 'src/_vars.scss';
@import 'src/_breakpoints.scss';
@import 'src/_fonts.scss';

.LangugageSelectContainer {
  z-index: 2;
  position: fixed;
  top: -162px;
  right: -110px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: $main-lilly;

  &-Languages {
    position: relative;
    top: 65%;
    left: 0;
    width: 60%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    &-Language {
      font: $language-select-font;
      margin-left: 0.5em;
      color: $main-white;
      cursor: pointer;
    }
  }
}
.activeLangugage {
  color: $main-darkblue;
}
/*  --------------- Mobile ----------------- */
@media (max-width: $mobile-max-width) and (max-height: $shortmobile-max-height) {
  .LangugageSelectContainer {
    top: -175px;

    &-Languages {
      top: 70%;
    }
  }
}

/*  --------------- Tiny Mobile ----------------- */
@media (max-width: $tiny-mobile-max-width) {
  .LangugageSelectContainer {
    top: -162px;
    right: -120px;
  }
}
