@import 'src/_colors.scss';

.LanguageSelect {
  display: block;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 400;
  color: $main-white;
  line-height: 1.3;
  padding: 0.4em 1.2em 0.3em 0.4em;
  box-sizing: border-box;
  margin: 0 0 0.4em 1em;
  border: 2px solid $main-white;
  border-radius: 8px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: url('../../assets/icons/dropdown_arrow_icon.png');
  background-repeat: no-repeat, repeat;
  background-position: right 0.4em top 50%, 0 0;
  background-size: 0.65em auto, 100%;

  &-LanguageOption {
    -webkit-appearance: none;
    font-weight: normal;
  }
}
.LanguageSelect::-ms-expand {
  display: none;
}
.LanguageSelect:focus,
.LanguageSelect:active {
  outline: none;
}
.LanguageSelect:hover {
  transition: all 250ms ease-in-out;
  border: 2px solid $main-darkblue;
  color: $main-darkblue;
}
/*  --------------------------------- MOBILE ------------------------------------ */
@media (max-width: 500px) {
  .LanguageSelect {
    padding: 0.4em 1.2em 0.3em 0.4em;
  }
}
