@import 'src/_colors.scss';

.NavBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1.5em;

  &-LogoContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    &-Logo {
      width: 40px;
      height: auto;
    }
  }

  &-MenuContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      list-style-type: none;
      margin: 0 1em;
      font-family: 'Comfortaa', sans-serif;
      text-transform: uppercase;
      color: $main-white;
      letter-spacing: 1px;
    }
    li:after {
      display: block;
      content: '';
      border-bottom: solid 2px $main-darkblue;
      transform: scaleX(0);
      transition: transform 250ms ease-in-out;
    }
    li:hover {
      color: $main-darkblue;
    }
    li:hover:after {
      transform: scaleX(1);
    }
  }
}
