@import 'src/_colors.scss';
@import 'src/_vars.scss';
@import 'src/_breakpoints.scss';

/* ---------------------------  Commont Styles --------------------------- */

.ServiceContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em;

  &-Image {
    width: auto;
    height: 60px;
    margin: 0.5em;
  }
  &-Title {
    text-transform: uppercase;
    text-align: center;
    color: $main-lilly;
    font: $mobile-tablet-h3;
    margin: 0.5em;
  }
  &-Text {
    margin: 0.5em;
    width: 80%;
    text-align: center;
    color: $main-darkblue;
    font: $mobile-tablet-p;
  }
}

/* ---------------------------  Desktop --------------------------- */
@media (min-width: 1024px) {
  .ServiceContainer {
    &-Image {
      height: 90px;
    }
    &-Title {
      font: $desktop-h3;
    }
    &-Text {
      font: $desktop-p;
    }
  }
}
