$main-lilly: #c7a9c3;
$main-darkblue: #122744;
$main-white: rgb(251, 250, 250);
$main-palegreen: #a3d0cb;
$main-lightgrey: rgb(243, 242, 242);
$darker-grey: #dedede;
$translucent-olivegreen: rgba(197, 237, 233, 0.3);
$translucent-white: rgba(243, 242, 242, 0.3);
