$main-lilly: #c7a9c3;
$main-darkblue: #122744;
$main-white: #fbfafa;
$main-palegreen: #a3d0cb;
$main-lightgrey: rgb(243, 242, 242);
$translucent-olivegreen: rgba(197, 237, 233, 0.3);
$translucent-white: rgba(255, 255, 255, 0.3);
