@import 'src/_colors.scss';

.HomeComponentContainer {
  background-color: $main-lilly;
  min-height: 100vh;
  background-image: url('../../assets/img/home_background_mobile.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

/* ---------------------------  Mobile --------------------------- */

@media (max-width: 767px) {
  .HomeComponentContainer {
    background-image: url('../../assets/img/home_background_mobile.webp');
    background-position: left 0;
  }
}

/* ---------------------------  Tablet --------------------------- */
@media (min-width: 768px) {
  .HomeComponentContainer {
    background-image: url('../../assets/img/home_background_tablet.webp');
    background-position: left 0;
  }
}
