@import 'src/_colors.scss';

.HomeComponentContainer {
  background-color: $main-darkblue;
  min-height: 100vh;
  background-image: url('../../assets/img/home_background_mobile.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

/* ---------------------------  Mobile --------------------------- */

@media (max-width: 767px) {
  .HomeComponentContainer {
    background-image: url('../../assets/img/home_background_mobile.webp');
    background-position: left 0 bottom 0;
    background-size: contain;
  }
}

/* ---------------------------  Tablet --------------------------- */
@media (min-width: 768px) {
  .HomeComponentContainer {
    background-image: url('../../assets/img/home_background_tablet.webp');
    background-position: left 0;
  }
}

/* ---------------------------  Desktop --------------------------- */
@media (min-width: 1024px) {
  .HomeComponentContainer {
    background-image: url('../../assets/img/home_background_desktop.webp');
    background-position: left 0 bottom 0;
    background-size: contain;
  }
}
