@import 'src/_colors.scss';
@import 'src/_vars.scss';
@import 'src/_breakpoints.scss';

/* ---------------------------  Commont Styles --------------------------- */

.SkillCollectionsContainer {
  background-color: $main-white;
  display: flex;
  justify-content: center;
  padding: 1em;

  &-Left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 30%;
    align-items: flex-end;
    // border: 1px solid green;

    & > div:nth-child(1) {
      align-self: center;
      margin-top: 15%;
      margin-left: 10%;
    }
    & > div:nth-child(2) {
      margin-right: 10%;
      margin-bottom: 15%;
    }
    & > div:nth-child(3) {
      align-self: center;
      margin-left: 20%;
    }
    & > div:nth-child(4) {
      margin-bottom: 30%;
    }
  }
  &-Center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 35%;

    &-UpperBubblesContainer {
      display: flex;
      flex-wrap: wrap;
      //border: 1px solid green;
      & > div:nth-child(1) {
        width: 50%;
      }
      & > div:nth-child(2) {
        margin-left: 15%;
      }
      & > div:nth-child(3) {
        margin-left: 30%;
        margin-bottom: 5%;
      }
    }
    &-ComputerContainer {
      position: relative;
      display: flex;
      background-image: url('../../../assets/img/imac_background_desktop.webp');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      min-width: 400px;
      min-height: 384px;

      &-Title {
        position: absolute;
        color: $main-white;
        font: $mobile-tablet-h2;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
      }
    }
    &-LowerBubblesContainer {
      display: flex;
      justify-content: space-around;
      align-self: stretch;
      //  border: 1px solid green;
      & > div:nth-child(1) {
        margin-top: 10%;
        margin-left: 5%;
      }
      & > div:nth-child(2) {
        margin-right: 15%;
        margin-top: 3%;
      }
    }
  }
  &-Right {
    // border: 1px solid green;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 30%;

    & > div:nth-child(1) {
      margin-top: 12%;
      margin-left: 20%;
    }
    & > div:nth-child(2) {
      margin-top: 1%;
    }
    & > div:nth-child(3) {
      margin-left: 20%;
      margin-top: 10%;
    }
    & > div:nth-child(4) {
      margin-top: 20%;
      margin-bottom: 10%;
    }
  }
}
