@import 'src/_colors.scss';
@import 'src/_vars.scss';
@import 'src/_breakpoints.scss';

/* ---------------------------  Commont Styles --------------------------- */

.SkillBubblesContainer {
  width: 100%;
  &-SkillBubbleContainer {
    width: 50px;
    height: 50px;
    background-color: aquamarine;
    margin: 10px;
  }
}
